<?xml version="1.0"?>
<model>
	<name>quadrotor</name>
	<version>1.0</version>
	<sdf version='1.4'>model.sdf</sdf>

	<author>
		<name>Elliot Salisbury</name>
		<email>e.salisbury@ecs.soton.ac.uk</email>
	</author>

	<description>
		The quadrotor from tum_simulator ported to sdf format for gazebo3 compatibility.
	</description>
</model>
